* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #ffffff;
    z-index: 100;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    gap: 46px;
}

nav ul li a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 22px;
}

nav ul li .beranda {
    color: #65d4b3;
}

nav button {
    padding: 10px 29px;
    background-color: #65d4b3;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    border: none;
}

/* HAMBURGER MENU */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -4px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #65d4b3;
    border-radius: 3px;
    transition: 0.5s;
}

/* HAMBURGER ANIMATION */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* RESPONSIVE */

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        z-index: -2;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

/* HERO */
.hero img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

/* SECTION APBDES */
.apbdes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 61px 155px 80px 70px;
    background-color: #00A69BBF;
    height: 300px;
}

.apbdes-content h2 {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.apbdes-content p {
    font-size: 26px;
    color: white;
    line-height: 30px;
}

.apbdes-btn {
    display: flex;
    align-items: center;
}

.apbdes-btn button {
    width: 100%;
    background-color: white;
    color: #00A69BBF;
    padding: 5px 29px;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    border: none;
}

/* BERITA & INFORMASI */
.berita-informasi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section {
    width: 492px; 
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: 150px;
}

.section h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: #9f9f9f;
}

.card-b, .card-i {
    display: flex;
    margin-bottom: 45px;
}

.card-b img {
    width: 225px;
    height: 150px;
    border-radius: 20px;
    margin-right: 35px;
}

.card-i img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-right: 35px;
}

.card-content h3 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #9f9f9f;
}

.card-content p {
    margin-bottom: 5px;
    color: #9f9f9f;
    font-size: 20px;
    font-weight: 400;
}

.section .btn-br {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.section .btn-br button {
    padding: 10px 30px;
    background-color: #4fc3a1;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 700;
    width: max-content;
    margin-bottom: 50px;
}

.label {
    background-color: #65d4b3;
    color: white;
    padding: 8.5px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    position: absolute;
}

/* POTENSI */
.potensi {
    text-align: center;
    margin-top: 69px;
}

.potensi h2 {
    font-size: 30px;
    font-weight: 700;
    color: #9e9e9e;
    text-decoration: underline;
}

.potensi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding: 89px;
}

.potensi-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 375px;
}

.potensi-card img {
    width: 375px;
    height: 307px;
}

.potensi-content {
    padding: 14px 39px;
    text-align: left;
}

.potensi-content p {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: 500;
}

/* LAYANAN */
.layanan {
    padding: 50px 116px ;
    text-align: center;
    border: 1px solid #c4c4c4;
}

.layanan h2 {
    font-size: 30px;
    color: #9e9e9e;
    text-decoration: underline;
    margin-bottom: 120px;
}

.layanan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}

.layanan-card {
    width: 297px;
    max-width: 100%;
    text-align: center;
}

.layanan-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 22px;
}

.layanan-card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #9f9f9f;
    margin-bottom: 10px;
}

.layanan-card p {
    font-size: 18px;
    color: #9f9f9f;
    line-height: 21.09px;
}

/* PETA */
.container-peta {
    background-color: #eefffa;
    padding: 119px 108px;
    max-width: 100%;
    width: 100%;
}

.container-peta h1 {
    color: #9e9e9e;
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 90px;
}

.iframe-peta {
    width:535px; 
    height:535px;
}

.content-peta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.text-section {
    flex: 1;
}

.text-section p {
    color: #9e9e9e;
    line-height: 28.13px;
    font-size: 24px;
}

.features {
    list-style: none;
    margin: 20px 0;
}

.features li {
    margin: 15px 0;
    color: #9e9e9e;
    font-size: 22px;
    font-weight: 500px;
    margin: 15px 0px 19px 90px;
}

.features li span img {
    width: 30px;
    height: 30px;
    align-items: center;
    position: absolute;
    left: 118px;
}

.btn {
    background-color: #48c3a4;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    margin-top: 68px;
}

.peta iframe {
    border-radius: 25px;
}

/* FOOTER */
footer {
    background-color: #424141;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;
}

.footer-content p {
    line-height: 28px;
    font-size: 24px;
    color: #9f9f9f;
    margin-bottom: 28px;
}

.sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconfoot a {
    margin: 0 10px;
    display: inline-block;
}

.iconfoot img {
    display: flex;
    width: 58px;
    height: 55px;
    position: relative;
}

.iconfoot {
    display: flex;
    width: 280px;
    height: 60px;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .content-peta {
        flex-direction: column-reverse;
    }

    .iframe-peta {
        width: calc(100vw - 238px);
    }
}

@media (max-width: 576px) {
    .apbdes {
        height: 100%;
        flex-direction: column;
        align-items: start;
    }

    .apbdes-content p {
        font-size: 16px;
    }

    .iframe-peta {
        width: calc(100vw - 144px);
    }

    .container-peta {
        padding: 72px 64px;
    }

}